<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>회원가입</h3>
	<input type="text" id="uiId" placeholder="ID"><br>
	<input type="password" id="uiPwd" placeholder="Password"><br>
	<input type="text" id="uiName" placeholder="이름"><br>
	<input type="text" id="uiMobile" placeholder="전화번호"><br>
	<input type="text" id="uiEmail" placeholder="이메일"><br>
	<input type="date" id="uiBirth" placeholder="생일"><br>
	<button onclick="join()">회원가입</button>

	<script>
		async function join(){
			const inputs=document.querySelectorAll('input[id]');
			const data={};
			for(const input of inputs){
				data[input.id]=input.value;
			}
			const res=await fetch('/join',{
				method:'POST',
				body:JSON.stringify(data),
				headers:{
					'Content-Type':'application/json;charset-UTF-8'
					}
			})
			const user=await res.json();
			if(user && user.uiId){
				alert(`${user.uiName}님 로그인을 해주세요.`);
				location.href='/html/login';
			}
		}
	</script>	 

</body>
</html>