<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>javascript란?</h3>
	<ul>
		<li>script는 head, body 태그 안에만 가능</li>
		<li>DOM ->document object model, 짱-> Object</li>
		<li>BOM ->browser object model, 짱-> window</li>
	</ul>
	
	<h3>javascript의 데이터 타입</h3>
	<ul>
		<li>number</li>
		<li>boolean</li>
		<li>undefined/li>
		<li>function</li>
		<li>Object</li>
		<li>string</li>
		<li>null</li>
	</ul>
	
	<h3>javascript의 변수 상수 선언</h3>
	<ul>
		<li>const</li>
		<li>let</li>
		<li>var</li>
	</ul>
	
	<h3>javascript의 문법</h3>
	<ul>
		<li>조건문: if, if else, switch</li>
		<li>반복문: while, for(일반적인 for, for of, for in), do while</li>
	</ul>	
	
	<script>		
		//false, undefined, null, 0, ''=> false
		function func(a){
			
		}
	</script>

</body>
</html>